@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --body: #E9E9E9;
    --black: #131313;
    --top: 120px;
}

body {
    background-color: var(--body);
    font-family: 'Montserrat', sans-serif;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    color: inherit;
}

/* --- section-header --- */
.section-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-header__titlebox {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-header__titlebox-img {
    width: 160px;
    height: 165px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
    white-space: nowrap;
}

.title span {
    font-size: 1.5rem;
}

.section-header__decor-block {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--black);
    position: relative;
}

.section-header__decor-block::after {
    content: '';
    width: 110px;
    height: 224px;
    background: url(/images/Black.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    right: 0;
    top: -60px;
}

/* === media section-header === */

@media (max-width: 620px) {
    .section-header__decor-block {
        display: none;
    }

    .section-header__decor-block::after {
        display: none;
    }
}

@media (max-width: 470px) {
    .section-header__titlebox-img {
        width: 120px;
        height: 125px;
    }
}

/* =========================== */

/* --- swiper --- */
.swiper {
    overflow: visible;
}

.swiper-slide {
    width: 380px;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.swiper-slide::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 5px;
}

.swiper-slide__text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

.swiper-button-prev {
    width: 54px;
    height: 24px;
    background: url(/images/prev.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    width: 54px;
    height: 24px;
    background-image: url(/images/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

/* ======================================================================== */

/* ---------- header ---------- */

.header__top {
    position: relative;
}

.header__top::before {
    content: '';
    width: calc(50% - 107px);
    height: 2px;
    background-color: rgba(19, 19, 19, 0.5);
    border-radius: 0 2px 2px 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header__top::after {
    content: '';
    width: calc(50% - 107px);
    height: 2px;
    background-color: rgba(19, 19, 19, 0.5);
    border-radius: 2px 0 0 2px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.header__nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 22px 0;
}

.header__address {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__address-city {
    text-transform: uppercase;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    height: 100px;
}

.logo__image {
    object-fit: cover;
}

.header__contacts {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__social {
    display: flex;
    gap: 15px;
}

.header__social-link svg {
    fill: var(--black);
    transition: .1s;
}

.header__social-link svg:hover {
    transform: scale(1.15);
    transition: .2s;
}

.header__nav-bottom {
    margin-top: 40px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    color: var(--black);
    text-transform: uppercase;
}

.header__list-link {
    position: relative;
}

.header__list-link::before {
    content: '';
    width: 97px;
    height: 100px;
    background: url(/images/header/hover.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .1s;
}

.header__list-link:hover::before {
    opacity: 1;
    transition: .2s;
}

.burger {
    display: none;
}

/* === media header === */

@media (max-width: 680px) {
    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 70px;
        height: 70px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        transition: .3s;
    }

    .burger.open {
        left: 90%;
    }

    .burger__item {
        width: 40px;
        height: 4px;
        border-radius: 10px;
        background-color: var(--black);
        transition: .4s;
    }

    .burger__item:nth-child(1).open {
        transform: rotate(45deg);
    }

    .burger__item:nth-child(2).open {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    .burger__item:nth-child(3).open {
        display: none;
    }

    .header {
        position: relative;
        height: 60px;
        background-color: #fff;
        border-radius: 0 0 30px 30px;
    }

    .header::after {
        content: '';
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__inner {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: var(--body);
        transform: translateY(-100%);
        transition: .3s;
    }

    .header__inner.open {
        transform: translateX(0);
    }

    .header__top::before {
        width: 50%;
        border-radius: 0px;

    }

    .header__top::after {
        width: 50%;
        border-radius: 0px;
    }

    .header__nav-top {
        padding-top: 100px;
    }

    .logo {
        top: 0;
        width: 95px;
        height: 80px;
    }

    .logo__image {
        width: 100%;
    }

    .header__address {
        font-size: 1rem;
    }

    .header__nav-bottom {
        margin-top: 60px;
    }

    .header__list {
        flex-direction: column;
        justify-content: space-between;
        gap: 10vh;
        font-size: 3vh;
    }

    .header__list-item {
        width: 100%;
        text-align: center;
    }

    .header__list-link {
        padding: 10px 0;
        display: inline-block;
        width: 100%;
    }
}

@media (max-width: 530px) {
    .header__address {
        display: none;
    }

    .header__contacts {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
    }
}

/* =================== */

/* ---------- banner ---------- */

.banner {
    padding-top: var(--top);
    padding-bottom: 50px;
}

.banner__content {
    position: relative;
    margin-bottom: 220px;
}

.banner__content::after {
    content: '';
    width: 950px;
    height: 710px;
    background: url(/images/banner/banner-decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 32px;
    right: -200px;
    z-index: -1;
}

.banner__title {
    display: inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    background: linear-gradient(rgba(233, 233, 233, 0.6) 0%, rgba(225, 225, 225, 0.8) 100%);
    border-radius: 20px;
    padding: 10px 20px 10px 0;
}

.banner__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black);
}

.banner__buttonbox {
    display: flex;
    flex-direction: column;
    gap: 140px;
    margin-top: 150px;
}

.button__banner {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    background-color: var(--black);
    border-radius: 5px 5px 0 0;
    position: relative;
}

.button__banner::before {
    content: '';
    width: 100%;
    height: 110px;
    background: url(/images/banner/btn-decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    left: 0;
    top: 100%;
    top: calc(100% - 2px);
    transition: .3s;
    opacity: 1;
    z-index: -1;
}

.button__banner:hover::before {
    height: 0;
    opacity: 0;
    transition: .3s;
}

.button__banner:hover {
    border-radius: 5px;
}

/* === media banner === */

@media (max-width: 1000px) {
    .banner__content::after {
        opacity: 0.3;
    }
}

@media (max-width: 680px) {
    .banner {
        padding-top: 50px;
        padding-bottom: 10px;
    }
}

@media (max-width: 550px) {
    .banner__title {
        font-size: 2.5rem;
    }
}

@media (max-width: 460px) {
    .banner__title {
        font-size: 2rem;
        text-align: center;
    }

    .banner__subtitle {
        font-size: 1rem;
        text-align: center;
    }

    .banner__buttonbox {
        align-items: center;
    }

    .banner__content::after {
        width: 750px;
        height: 610px;
        top: 120px;
    }

    .banner__buttonbox {
        margin-top: 100px;
    }
}

/* =================== */

/* ---------- why ---------- */

.why {
    padding-top: var(--top);
}

.section-header--why {
    margin-bottom: 144px;
}

.why__swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.why__swiper-slide--text {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 49px;
    transition: .2s;
}

.why__swiper-slide--text:hover {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

.why__swiper-button-prev {
    left: 0;
    top: -40px;
}

.why__swiper-button-next {
    left: 94px;
    top: -40px;
}

/* ---------- about ---------- */

.about {
    padding-top: var(--top);
}

.title--decor {
    position: relative;
    margin-bottom: 150px;
}

.title--decor::after {
    content: '';
    width: 300px;
    height: 150px;
    background: url(/images/title-decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.about__title {
    text-align: center;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.about__image {
    max-width: 475px;
    max-height: 550px;
}

.about__textbox {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
}

/* === media about === */

@media (max-width: 940px) {
    .about__inner {
        flex-direction: column-reverse;
    }
}

@media (max-width: 475px) {
    .about__image {
        max-width: 100%;
    }
}

/* ================== */

/* ---------- team ---------- */

.team {
    padding-top: var(--top);
}

.team__title {
    margin-bottom: 10px;
}

.team__decription {
    max-width: 1000px;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    margin: 0 auto 100px;
}

.team__swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
}

.team__swiper-slide--name {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    padding: 10px 30px;
    align-self: start;
    transform: translateY(38px);
    transition: .3s;
}

.team__swiper-slide:hover .team__swiper-slide--name {
    transform: translateY(-20px);
}

.team__swiper-slide--link {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    padding: 10px 30px;
    transition: .2s;
    align-self: start;
    opacity: 0;
    visibility: hidden;
}

.team__swiper-slide--link:hover {
    background-color: #fff;
    color: var(--black);
}

.team__swiper-slide:hover .team__swiper-slide--link {
    animation: hoverButton .2s .28s forwards;
}

@keyframes hoverButton {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.team__swiper-button-prev {
    left: 0;
    top: -40px;
}

.team__swiper-button-next {
    left: 94px;
    top: -40px;
}

/* === media team === */

@media (max-width: 1200px) {
    .team__decription {
        max-width: 100%;
        padding: 0 120px 0 20px;
        margin: 20px auto 100px;
    }
}

@media (max-width: 1030px) {
    .team__swiper-slide .team__swiper-slide--name {
        transform: translateY(-21px);
    }

    .team__swiper-slide--name {
        opacity: 1;
        visibility: visible;
    }

    .team__swiper-slide--link {
        opacity: 1;
        visibility: visible;
    }

    .team__swiper-slide--link {
        background-color: #fff;
        color: var(--black);
    }
}

@media (max-width: 620px) {
    .team__decription {
        max-width: 100%;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 470px) {
    .section-header__titlebox--team {
        gap: 15px;
    }

    .team__title {
        font-size: 1.58rem;
    }
}

/* ================= */

/* ---------- gallery ---------- */

.gallery {
    padding-top: var(--top);
}

.gallery__itembox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    position: relative;
}

.gallery__itembox::before {
    content: '';
    width: 540px;
    height: 970px;
    background: url(/images/gallery/Vector-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    left: -210px;
    top: -150px;
    z-index: -1;
}

.gallery__itembox::after {
    content: '';
    width: 540px;
    height: 970px;
    background: url(/images/gallery/Vector-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    right: -210px;
    top: -150px;
    z-index: -1;
}

.gallery__title {
    text-align: center;
    margin-bottom: 200px;
}

.gallery__item--big {
    grid-row: 1/3;
    grid-column: 1/3;
}

.gallery__item--big-revers {
    grid-row: 3/5;
    grid-column: 3/5;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.gallery__link {
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    white-space: nowrap;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: transparent;
    padding: 15px 40px;
    transition: .2s;
}

.gallery__link:hover {
    background-color: #fff;
}

.gallery__footer span {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--black);
}

/* === media gallery === */

@media (max-width: 700px) {
    .gallery__itembox::before {
        display: none;
    }

    .gallery__itembox::after {
        display: none;
    }

    .gallery__itembox {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__item--big {
        display: none;
    }

    .gallery__item--big-revers {
        display: none;
    }
}

@media (max-width: 450px) {
    .gallery__itembox {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 300px);
    }
}

/* ==================== */

/* ---------- reviews ---------- */

.reviews {
    padding-top: var(--top);
    padding-bottom: 385px;
    position: relative;
}

.reviews::after {
    content: '';
    width: 100%;
    height: 300px;
    background-image: url(/images/footer/decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    left: 0;
    top: calc(100% - 2px);
}

.reviews__section-header {
    margin-bottom: 60px;
}

.reviews__swiper {
    width: 550px;
    height: 550px;
    background-color: #fff;
    border: 1px solid var(--black);
    border-radius: 50%;
}

.reviews__swiper::after {
    content: '';
    width: 100vw;
    height: 550px;
    background-color: var(--body);
    position: absolute;
    top: 0;
    left: 101%;
    z-index: 10;
}

.reviews__swiper::before {
    content: '';
    width: 100vw;
    height: 550px;
    background-color: var(--body);
    position: absolute;
    top: 0;
    right: 101%;
    z-index: 10;
}

.swiper__decor {
    width: 370px;
    height: 385px;
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    top: 440px;
}

.reviews__swiper-slide::after {
    content: '';
    display: none;
}

.reviews__content {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    color: var(--black);
}

.reviews__author {
    font-size: 1.25rem;
    font-weight: 700;
}

.reviews__text {
    max-width: 400px;
    max-height: 260px;
    font-size: 1rem;
}

.reviews__swiper-button-prev,
.reviews__swiper-button-next {
    top: 50%;
    z-index: 20;
}

.reviews__swiper-button-prev,
.reviews__swiper-button-next {
    z-index: 20;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    transition: .2s;
    border: 1px solid transparent;
}

.reviews__swiper-button-prev:hover,
.reviews__swiper-button-next:hover {
    border: 1px solid var(--black);
}

.reviews__swiper-button-prev {
    left: -185px;
}

.reviews__swiper-button-next {
    right: -185px;
}

.reviews__swiper-button-prev span {
    width: 54px;
    height: 24px;
    background: url(/images/prev.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.reviews__swiper-button-next span {
    width: 54px;
    height: 24px;
    background-image: url(/images/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*  === media reviews === */

@media (max-width: 950px) {
    .reviews__swiper-button-next {
        right: 25%;
        top: 10%;
        background: transparent;
    }

    .reviews__swiper-button-prev {
        left: 25%;
        top: 10%;
        background: transparent;
    }
}

@media (max-width: 570px) {
    .reviews__swiper {
        width: 100%;
        border-radius: 20px 20px 1000px 1000px;
    }

    .reviews__content {
        width: 100%;
    }

    .reviews__swiper-button-next {
        right: 5%;
        top: 10%;
    }

    .reviews__swiper-button-prev {
        left: 5%;
        top: 10%;
    }

    .reviews__text {
        padding: 0 20px;
    }
}

@media (max-width: 400px) {
    .swiper__decor {
        width: 100%;
        height: auto;
    }
}

/* ===================== */

/* ---------- footer ---------- */

.footer {
    background-color: var(--black);
    padding: 350px 0 270px;
}

.footer__title {
    text-align: center;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 320px;
    height: 280px;
}

.footer__logo-img {
    width: 100%;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.footer__list-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.footer__list-item {
    font-size: 1rem;
    line-height: 1.4;
}

.footer__linkbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__list-phone:hover {
    text-decoration: underline;
}

.footer__buttonbox {
    display: flex;
    flex-direction: column;
    gap: 76px;
}

.footer__button {
    width: 260px;
    height: 50px;
    font-size: 1rem;
    line-height: 1.4;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .2s;
}

.footer__button:hover {
    background-color: #fff;
    color: var(--black);
}

/* === media footer === */

@media (max-width: 1000px) {
    .footer {
        padding: 260px 0 100px;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .footer__contacts {
        flex-direction: row;
    }

    .footer__list {
        gap: 20px;
    }

    .footer__buttonbox {
        gap: 40px;
    }
}

@media (max-width: 640px) {
    .footer__contacts {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

/* =================== */

/* ========== hover ========== */

@media (max-width: 1030px) {
    .header__social-link svg:hover {
        transform: scale(1);
    }

    .header__list-link:hover::before {
        opacity: 0;
    }

    .header__list-link:hover::before {
        opacity: 0;
    }

    .button__banner:hover::before {
        height: 110px;
        opacity: 1;
    }

    .button__banner:hover {
        border-radius: 5px 5px 0 0;
    }

    .why__swiper-slide--text:hover {
        width: auto;
        height: auto;
    }

    .team__swiper-slide:hover .team__swiper-slide--name {
        transform: translateY(-21px);
    }

    .team__swiper-slide:hover .team__swiper-slide--link {
        animation: none;
    }

    .gallery__link:hover {
        background-color: transparent;
    }

    .reviews__swiper-button-prev:hover,
    .reviews__swiper-button-next:hover {
        border: 1px solid transparent;
    }

    .footer__list-phone:hover {
        text-decoration: none;
    }

    .footer__button:hover {
        background-color: transparent;
        color: #fff;
    }
}

/* --- loader --- */

body.lock {
    overflow: hidden;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.loader__body {
    width: 300px;
    height: 300px;
    background-color: var(--body);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: perspective(600px) translate(0px, -100%) rotateX(0deg);
    transition: 1s;
}


.popup.open .loader__body {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.loader__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.loader__icon {
    width: 63px;
    height: 132px;
    animation: animateIcon 12s infinite;
    animation-play-state: paused;
    animation-delay: 1.5s;
}

@keyframes animateIcon {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.popup.open .loader__icon {
    animation-play-state: running;
}

.loader__text {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--black);
}

.loader__text span:nth-child(1) {
    animation: animateText 6s 1s infinite;
}

.loader__text span:nth-child(2) {
    animation: animateText 6s 2s infinite;
}

.loader__text span:nth-child(3) {
    animation: animateText 6s 3s infinite;
}

@keyframes animateText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loader__close {
    font-size: 1rem;
    color: var(--black);
    margin-top: 20px;
}

.loader__close:hover {
    text-decoration: underline;
}

/* --- feedback --- */

.feedback {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.feedback__body {
    width: 540px;
    padding: 40px 20px 20px 20px;
    background-color: var(--body);
    border-radius: 5px;
    position: relative;
    transform: perspective(600px) translate(0px, -100%) rotateX(0deg);
    transition: 1s;
}

.feedback__body::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-image: url(/images/modal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.02;
}

.popup.open .feedback__body {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.feedback__close {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.feedback__close svg {
    transition: .2s;
}

.feedback__close:hover svg {
    transform: rotate(180deg);
}

.feedback__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    z-index: 10;
}

.feedback__input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-bottom: 2px solid var(--black);
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    position: relative;
    padding: 10px;
    transition: .08s;
}

.feedback__input:focus {
    border: 6px solid var(--body);
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 1),
        8px 8px 25px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
}

.feedback__textarea {
    resize: none;
    width: 100%;
    height: 250px;
    background-color: transparent;
    border-bottom: 2px solid var(--black);
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    padding: 10px;
    transition: .08s;
}

.feedback__textarea:focus {
    border: 6px solid var(--body);
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 1),
        8px 8px 25px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
}

.feedback__label-file {
    align-self: start;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.feedback__download-btn {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    white-space: nowrap;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: transparent;
    transition: .2s;
}

.feedback__download-txt {
    font-size: 0.875rem;
    color: var(--black);
    margin-left: 15px;
}

.feedback__label-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.feedback__download-btn:hover {
    background-color: #fff;
}

.feedback__download-btn:active {
    transform: scale(0.9);
}

.feedback__button {
    height: 40px;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
    white-space: nowrap;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: transparent;
    transition: .2s;
}

.feedback__button:hover {
    background-color: #fff;
}

.feedback__button:active {
    transform: scale(0.9);
}

/* === media feedback === */
@media (max-width: 550px) {
    .feedback__body {
        width: 340px;
        padding: 40px 10px 10px 10px;
    }
}

/* ===================== */

/* --- popup open --- */
.popup.open {
    opacity: 1;
    visibility: visible;
}